@model NNZFSC.Models.MemberRegistration

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Dashboard/font-face.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/font-awesome.min.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/fontawesome-all.min.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/material-design-iconic-font.min.css" rel="stylesheet" media="all" />*@
<link href="~/Dashboard/bootstrap.min.css" rel="stylesheet" media="all" />

<link href="~/Dashboard/animsition.min.css" rel="stylesheet" media="all" />
@*<link href="~/Dashboard/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/animate.css" rel="stylesheet" media="all" />*@
<link href="~/Dashboard/hamburgers.min.css" rel="stylesheet" media="all" />
@*<link href="~/Dashboard/slick.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/select2.min.css" rel="stylesheet" media="all" />
<link href="~/Dashboard/perfect-scrollbar.css" rel="stylesheet" media="all" />*@


<link href="~/Dashboard/theme.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">

                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Members
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    
                                    @Html.ActionLink(linkText: "Register", actionName: "create", controllerName: "RegisterMember")

                                </li>
                                <li>
                                   
                                    @Html.ActionLink(linkText: "Update", actionName: "Edit", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)
                                </li>
                                

                            </ul>
                        </li>

                        
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>View Members
                            </a>
                        </li>
                       

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Renew
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    @Html.ActionLink(linkText: "Create", actionName: "create", controllerName: "Create", routeValues: new { id = 0 }, htmlAttributes: null)
                                </li>
                                <li>
                                    @*@Html.ActionLink(linkText: "Update", actionName: "Edit", controllerName: "Payment", routeValues: new { id = 0 }, htmlAttributes: null)*@
                                    @Html.ActionLink(linkText: "Update", actionName: "Details", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)
                                </li>


                            </ul>
                        </li>


                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-calendar-alt"></i>Events
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Create</a>
                                </li>
                                <li>
                                    <a href="badge.html">Update</a>
                                </li>

                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>

        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">

            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Members
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    
                                    @Html.ActionLink(linkText: "Register", actionName: "create", controllerName: "RegisterMember")

                                </li>
                                <li>
                                   
                                    @Html.ActionLink(linkText: "Update", actionName: "index", controllerName: "RegisterMember")
                                </li>
                    
                            </ul>
                        </li>

                      
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>View Members
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Renew
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    @Html.ActionLink(linkText: "Create", actionName: "create", controllerName: "Payment", routeValues: new { id = 0 }, htmlAttributes: null)
                                </li>
                                <li>
                                    @*@Html.ActionLink(linkText: "Update", actionName: "Edit", controllerName: "Payment", routeValues: new { id = 0 }, htmlAttributes: null)*@
                                    @Html.ActionLink(linkText: "Update", actionName: "Details", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)
                                </li>


                            </ul>
                        </li>
                       
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-calendar-alt"></i>Events
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Create</a>
                                </li>
                                <li>
                                    <a href="badge.html">Update</a>
                                </li>


                            </ul>
                        </li>
                        
                        
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2>Update Member</h2>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.MemberId)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.MemberFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberFirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberMiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.MemberMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberMiddleName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.MemberLastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberLastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MemberAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MembershipAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MembershipAmount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MembershipAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MembershipDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MembershipDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MembershipDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MembershipExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MembershipExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MembershipExpiryDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MemberImageName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberImageName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MemberImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MemberImagePath, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MemberImagePath, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreateBy, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CreateBy, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>

                </div>
</div>
</div>


            </div>
        </div>
        <!-- END MAIN CONTENT-->
     
         <!-- END PAGE CONTAINER-->

    <!--- Script-->
    <script src="~/Dashboard/jquery-3.2.1.min.js"></script>
    @*<script src="~/Dashboard/popper.min.js"></script>*@
    <script src="~/Dashboard/bootstrap.min.js"></script>
    @*<script src="~/Dashboard/slick.min.js"></script>
    <script src="~/Dashboard/wow.min.js"></script>*@

    <script src="~/Dashboard/animsition.min.js"></script>
    @*<script src="~/Dashboard/bootstrap-progressbar.min.js"></script>
    <script src="~/Dashboard/jquery.waypoints.min.js"></script>
    <script src="~/Dashboard/jquery.counterup.min.js"></script>
    <script src="~/Dashboard/circle-progress.min.js"></script>
    <script src="~/Dashboard/perfect-scrollbar.js"></script>

    <script src="~/Dashboard/Chart.bundle.min.js"></script>
    <script src="~/Dashboard/select2.min.js"></script>*@

    <script src="~/Dashboard/main.js"></script>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



