@model NNZFSC.Models.MemberPayment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>

        <!--- CSS-->
        @*<link href="~/Dashboard/font-face.css" rel="stylesheet" media="all" />*@
        @*<link href="~/Dashboard/font-awesome.min.css" rel="stylesheet" media="all" />*@
        @*<link href="~/Dashboard/fontawesome-all.min.css" rel="stylesheet" media="all" />*@
        @*<link href="~/Dashboard/material-design-iconic-font.min.css" rel="stylesheet" media="all" />*@
        <link href="~/Dashboard/bootstrap.min.css" rel="stylesheet" media="all" />

        <link href="~/Dashboard/animsition.min.css" rel="stylesheet" media="all" />
        @*<link href="~/Dashboard/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all" />
            <link href="~/Dashboard/animate.css" rel="stylesheet" media="all"/>
            <link href="~/Dashboard/hamburgers.min.css" rel="stylesheet" media="all" />*@
        @*<link href="~/Dashboard/slick.css" rel="stylesheet" media="all" />
            <link href="~/Dashboard/select2.min.css" rel="stylesheet" media="all" />*@
        @*<link href="~/Dashboard/perfect-scrollbar.css" rel="stylesheet" media="all" />*@


        <link href="~/Dashboard/theme.css" rel="stylesheet" />


    </head>
    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
            <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">

                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="index.html">Member</a>
                                        @Html.ActionLink(linkText: "Register Member", actionName: "create", controllerName: "RegisterMember")

                                    </li>
                                    <li>
                                        <a href="index2.html">Update Member</a>
                                        @Html.ActionLink(linkText: "Update Member", actionName: "Edit", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)
                                    </li>
                                    <li>
                                        <a href="index3.html">Payment Details</a>
                                        @Html.ActionLink(linkText: "Payment Details", actionName: "Details", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)

                                    </li>
                                    <li>
                                        <a href="index4.html">Dashboard 4</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="form.html">
                                    <i class="far fa-check-square"></i> Member List
                                </a>
                            </li>

                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-calendar-alt"></i>Events
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="button.html">Create</a>
                                    </li>
                                    <li>
                                        <a href="badge.html">Update</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>
            <!-- END HEADER MOBILE-->
            <!-- MENU SIDEBAR-->
            <aside class="menu-sidebar d-none d-lg-block">

                <div class="menu-sidebar__content js-scrollbar1">
                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>

                                        @Html.ActionLink(linkText: "Register Member", actionName: "create", controllerName: "RegisterMember")
                                    </li>
                                    <li>

                                        @Html.ActionLink(linkText: "Update Member", actionName: "Edit", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)
                                    </li>
                                    <li>

                                        @Html.ActionLink(linkText: "Payment Details", actionName: "Details", controllerName: "RegisterMember", routeValues: new { id = 0 }, htmlAttributes: null)

                                    </li>
                                    <li>
                                        <a href="index4.html">Dashboard 4</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="form.html">
                                    <i class="far fa-check-square"></i> Member List
                                </a>
                            </li>

                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-calendar-alt"></i>Events
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="button.html">Create</a>
                                    </li>
                                    <li>
                                        <a href="badge.html">Update</a>
                                    </li>


                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END MENU SIDEBAR-->
            <!-- PAGE CONTAINER-->
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <h4>Member Information</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6" style="border-right:outset">

                                <div class="text-center">

                                    <img src="~/img/NNZFSC_Logo.jpg" class="avatar img-circle" alt="avatar" height="150" width="150">
                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MemberId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MemberId, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MemberFirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MemberFirstName, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MemberMiddleName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MemberMiddleName, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MemberLastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MemberLastName, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MemberAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MemberAddress, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.EmailAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.EmailAddress, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>
                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.MemberDetails.MembershipDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.MemberDetails.MembershipDate, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>

                                <br />
                                <div class="text-center">
                                    @Html.LabelFor(model => model.NextPaymentDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.NextPaymentDate, new { @class = "form-control", @readonly = true, style = "width: 45%; display:inline-block;" })

                                </div>

                                <div style="margin:50px 80px">
                                    @Html.ActionLink(linkText: "Back to List", actionName: "index", controllerName: "RegisterMember")
                                </div>
                                                               
                            </div>
                          

                            <div class="col-md-6">
                                <br /><br />
                                <div>  <h5 class="jumbotron" style="padding:2rem">Renew Member</h5></div>
                                <div class="form-group">

                                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                                    @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">

                                    @Html.LabelFor(model => model.NextPaymentDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBoxFor(model => model.NextPaymentDate, new { @class = "form-control", @readonly = true })
                                    @Html.ValidationMessageFor(model => model.NextPaymentDate, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">

                                    @Html.LabelFor(model => model.PaymentAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.EditorFor(model => model.PaymentAmount, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                                    @Html.ValidationMessageFor(model => model.PaymentAmount, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-4">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </div>




                            </div>

                        </div>

                    </div>




                </div>
            </div>


            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>


        <!--- Script-->
        <script src="~/Dashboard/jquery-3.2.1.min.js"></script>
        @*<script src="~/Dashboard/popper.min.js"></script>*@
        <script src="~/Dashboard/bootstrap.min.js"></script>
        @*<script src="~/Dashboard/slick.min.js"></script>
            <script src="~/Dashboard/wow.min.js"></script>*@

        <script src="~/Dashboard/animsition.min.js"></script>
        @*<script src="~/Dashboard/bootstrap-progressbar.min.js"></script>
            <script src="~/Dashboard/jquery.waypoints.min.js"></script>
            <script src="~/Dashboard/jquery.counterup.min.js"></script>
            <script src="~/Dashboard/circle-progress.min.js"></script>
            <script src="~/Dashboard/perfect-scrollbar.js"></script>

            <script src="~/Dashboard/Chart.bundle.min.js"></script>
            <script src="~/Dashboard/select2.min.js"></script>*@

        <script src="~/Dashboard/main.js"></script>

    </body>

}



